// Faisa - Detail page aka recipe

doctype html
html
  head
    title= recipe.title
  body
    h1= recipe.title
    if recipe.image
      img(src=recipe.image, alt=recipe.title, width="400")
    
    p <strong>Created by:</strong> #{recipe.user_firstname}
    p <strong>Description:</strong> #{recipe.description}
    p <strong>Ingredients:</strong> #{recipe.ingredients}
    p <strong>Instructions:</strong> #{recipe.instructions}
    
    // Optionally: Add a link back to the list of recipes
    a(href="/recipes/") Go back to Recipes List
