extends layout

block head
  link(rel="stylesheet", href="/recipes-list.css")

block content
  .hero-section
    h1 Explore the Best Recipes
    .search-bar
      input(type="text" id="searchInput" placeholder="Search by name..." oninput="filterRecipes()")
      button(id="searchButton", type="button") Search

  .container
    #recipes
    h2 Our Delicious Recipes
    if recipes.length > 0
      .recipe-list
        each recipe in recipes
          .recipe-card
            img(src=recipe.image, alt=recipe.title, class="recipe-image")
            .recipe-info
              h3= recipe.title
              p= recipe.description
            a(href=`/recipes/${recipe.recipe_id}`, class="view-recipe-btn") View Recipe
    else
      p No recipes found.

  script.
    function filterRecipes() {
      const searchInput = document.getElementById('searchInput').value.toLowerCase();
      const recipeCards = document.querySelectorAll('.recipe-card');
      
      recipeCards.forEach(card => {
        const title = card.querySelector('.recipe-info h3').innerText.toLowerCase();
        
        if (title.includes(searchInput)) {
          card.style.display = ''; // Show the recipe if it matches
        } else {
          card.style.display = 'none'; // Hide the recipe if it doesn't match
        }
      });
    }
