extends layout

block head
  link(rel="stylesheet", href="/recipes.css")
  link(href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap", rel="stylesheet")
block content
  .recipe-page
    h1= recipe.title
    .recipe-details
      .recipe-content
        // Image Container
        .recipe-image-container
          if recipe.image
            img(src=recipe.image, alt=recipe.title, class="recipe-image")

        // Recipe Info Container
        .recipe-info-container
          .recipe-info
            p
              strong Created by:
              a(href=`/user-profile/${recipe.user_id}`)
                span= recipe.user_firstname

            p
              strong Description:
              span= recipe.description

            p
              strong Ingredients:
              span= recipe.ingredients

            p
              strong Instructions:
              span= recipe.instructions

            p
              strong Likes:
              span= recipe.like_count

    // Comment Section
    .comment-section
      h2 Comments
      form#commentForm(onsubmit="submitComment(event)")
        textarea(id="commentInput" placeholder="Write a comment..." required)
        button(type="submit") Post Comment
      ul#commentList

    // Button to go back to recipe list
    a(href="/recipes", class="back-button") Go back to Recipes List
