extends layout

block head
  link(rel="stylesheet", href="/recipes.css")
  link(href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap", rel="stylesheet")

block content
  .recipe-page
    h1= recipe.title
    .recipe-details
      .recipe-content
        // Image Container
        .recipe-image-container
          if recipe.image
            img(src=recipe.image, alt=recipe.title, class="recipe-image")

        // Recipe Info Container
        .recipe-info-container
          .recipe-info
            p
              strong Created by:
              a(href=`/user-profile/${recipe.user_id}`)
                span= recipe.user_firstname

            p
              strong Description:
              span= recipe.description

            p
              strong Ingredients:
              span= recipe.ingredients

            p
              strong Instructions:
              span= recipe.instructions

            p
              strong Likes:
              span= recipe.like_count

            // 👍 Like Button (only if logged in)
            if loggedIn
              form(action=`/like/${recipe.recipe_id}` method="POST")
                button(type="submit" class="like-button") Like ❤️

  // Comment Section (Form to post new comment)
  if loggedIn
    .comment-section
      h2 Comments
      form(action=`/recipes/${recipe.recipe_id}/comments` method="POST")
        textarea(name="content" id="commentInput" placeholder="Write a comment..." required)
        button(type="submit") Post Comment

  // Section: Display existing comments
  .comment-display-section
    h2 Comments Section
    ul.comment-list
      if comments.length > 0
        each comment in comments
          li.comment-item
            a(href=`/user-profile/${comment.user_id}`) #{comment.user_firstname}:
            span= comment.content
            if userId === comment.user_id
             form(action=`/comments/${comment.comment_id}/delete` method="POST" class="delete-comment-form")
                button(type="submit" class="delete-button") ❌

      else
        li No comments yet.
