extends layout

block head
  link(rel="stylesheet", href="/user-profile.css")

block content
  .user-profile-page
    .hero-section
      h1 #{user.firstName}'s Recipes
      p These are all the delicious recipes posted by #{user.firstName} #{user.lastName}.

    .container
      ul
        if user.recipes.length
          each recipe in user.recipes
            li
              .recipe-card
                if recipe.image
                  img(src=recipe.image, alt=recipe.title, class="recipe-image")
                .recipe-info
                  h3 #{recipe.title}
                  p Likes: #{recipe.like_count}
                  a(href="/recipes/" + recipe.recipe_id, class="view-recipe-btn") View Recipe
        else
          p.no-recipes This user hasn't posted any recipes yet.

  .button-group
    a(href="/user-list", class="back-button") Browse Recipe Creators
    a(href="/recipes", class="back-button") Explore more recipes